*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
header{
    padding: 20px 0;
}

.logo {
     width: 100%;
}
.menu {
     width: 100%;
     text-align: right;
 }
 .menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
 }

 table, th, td {
    border: 1px solid;
  }

  table img{
      width: 150px;
  }
  table{
      width: 100%;
  }
  th {
    height: 70px;
  }

  .subtitulo{
      width: 200px;
      text-align: center;
  }
  .texto{
    width: 200px;
    text-align: justify;
    padding: auto;
}
  
